@import "tailwindcss";
@import "tw-animate-css";

@theme{
    --breakpoint-xs:460px;
}



.bg-diagonal {
  background: linear-gradient(
    193deg,          /* diagonal angle */
    #d2cabd 30%,     /* top half beige */
    #b7633a 30%      /* bottom half brown */
  );
}

