@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sarala:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme{
    --breakpoint-xs:460px;
    --font-cursive:"Dancing Script", "cursive"
}

.bg-diagonal {
  background: linear-gradient(
    193deg,          /* diagonal angle */
    #d2cabd 30%,     /* top half beige */
    #b7633a 30%      /* bottom half brown */
  );
}

